
body, html {
	background-color: #16181D;
	color: white;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;

	background-color: #20212B;
}